.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 10%;
    font-family: 'Roboto', sans-serif
    
}

.header{

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    flex: 1 1 auto;
    color:  #F9FAF8;
}
.links{
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 5%;
    
}
a{
    text-decoration: none;
}
.footer{
    flex: 1 1 0;    
    padding: 3%;
}

.a{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8%;
    padding: 5% 10%;
}

.a .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color:  #F9FAF8;
    flex: 1 1 0;

}
.a .right{
    flex: 1 1 0;
    background-color: gray;
    border-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: auto; */
    padding: 10px;
    
}

.title{
    font-size: 48px;
    font-weight: extra bold;
    color:  #F9FAF8;
    /* margin: 2%; */

}

.sec-text{
    background: #1F2937;
    color:  #E5E7EB;
    font-size: 18px;
}

@media (max-width: 750px) {
    .title {
        font-size: 30px;
        
    }
}



    





